<section class="book-tour">
  <a class="overlay-left" href="#shahdag"></a>
  <div class="book-tour-pic book-tour-left">
    <img src="images/book-tour-left.jpg" alt="">
  </div>
  <a class="overlay-right" href="#tufandag"></a>
  <div class="book-tour-pic book-tour-right">
    <img src="images/book-tour-right.jpg" alt="">
  </div>
  <div class="book-tour-front">
    <p>ДВА ЛУЧШИХ ГОРНОЛЫЖНЫХ КУРОРТА АЗЕРБАЙДЖАНА УЖЕ ГОТОВЫ ВСТРЕТИТЬ ВАС</p>
    <div class="title-resorts">
      <span class="left">шахдаг</span>
      <span class="right">туфандаг</span>
    </div>
    <a href="#order-tour" class="order-tour">ЗАКАЗАТЬ тур</a>
  </div>
  <div class="triangles not-center"></div>
</section>