<section class="book-tour">
  <div class="overlay-left"></div>
  <div class="book-tour-pic book-tour-left">
    <img src="images/book-tour-left.jpg" alt="">
  </div>
  <div class="overlay-right"></div>
  <div class="book-tour-pic book-tour-right">
    <img src="images/book-tour-left.jpg" alt="">
  </div>
  <div class="book-tour-front">
    <p>ДВА ЛУЧШИХ ГОРНОЛЫЖНЫХ КУРОРТА АЗЕРБАЙДЖАНА УЖЕ ГОТОВЫ ВСТРЕТИТЬ ВАС</p>
    <div class="title-resorts">
      <span>шахдаг</span>
      <span>туфандаг</span>
    </div>
    <a href="#">ЗАКАЗАТЬ тур</a>
  </div>
  <div class="triangles not-center"></div>
</section>

<section class="shahdag">
  <h2>шахдаг</h2>
  <video src="video/Shahdag_dron.mp4"></video>
  <div class="video-controls-wrap">
    <div class="video-controls">
      <span class="prev"></span>
      <span class="play"></span>
      <span class="next"></span>
    </div>
  </div>
</section>

<section class="hotels">
  <h3>горнолыжный курорт, оснащённый современным <span>горнолыжным</span> оборудованием</h3>
  <div class="equipment-wrap">
    <div class="equipment-item">
      <div class="equipment-pic">
        <img src="images/skier-icon.png" alt="Skier">
      </div>
      <span class="circles"></span>
      <p>Обучение катанию на лыжах, международная лыжная школа, высококвалифицированные инструкторы и безопасность в качестве приоритета</p>
    </div>
    <div class="equipment-item">
      <div class="equipment-pic">
        <img src="images/snowflake-icon.png" alt="Snowflake">
      </div>
      <span class="circles"></span>
      <p>Обучение катанию на лыжах, международная лыжная школа, высококвалифицированные инструкторы и безопасность в качестве приоритета</p>
    </div>
    <div class="equipment-item">
      <div class="equipment-pic">
        <img src="images/balloons-icon.png" alt="Balloons">
      </div>
      <span class="circles"></span>
      <p>Обучение катанию на лыжах, международная лыжная школа, высококвалифицированные инструкторы и безопасность в качестве приоритета</p>
    </div>
  </div>
</section>