<section class="equipment equipment-bg">
  <h3 data-aos="zoom-in-up">горнолыжный курорт, оснащённый современным <span>горнолыжным</span> оборудованием</h3>
  <span class="circles" data-aos="zoom-out-down" data-aos-delay="30"><span></span></span>
  <div class="equipment-wrap">
    <div class="equipment-item">
      <div class="equipment-pic" data-aos="flip-right" data-aos-duration="1000">
        <img src="images/skier-icon.png" alt="Skier">
      </div>
      <span class="circles" data-aos="zoom-out-down" data-aos-delay="30"></span>
      <p data-aos="zoom-in" data-aos-delay="100">Обучение катанию на лыжах, международная лыжная школа, высококвалифицированные инструкторы и безопасность в качестве приоритета</p>
    </div>
    <div class="equipment-item">
      <div class="equipment-pic" data-aos="flip-right" data-aos-duration="1000">
        <img src="images/snowflake-icon.png" alt="Snowflake">
      </div>
      <span class="circles" data-aos="zoom-out-down" data-aos-delay="30"></span>
      <p data-aos="zoom-in" data-aos-delay="100">100 %  гарантия снега с самого начала лыжного сезона.
      <br>Мы уверенны в качестве нашего снежного покрова</p>
    </div>
    <div class="equipment-item">
      <div class="equipment-pic" data-aos="flip-right" data-aos-duration="1000">
        <img src="images/balloons-icon.png" alt="Balloons">
      </div>
      <span class="circles" data-aos="zoom-out-down" data-aos-delay="30"></span>
      <p data-aos="zoom-in" data-aos-delay="100">Широкий выбор развлечений, мероприятий, пакетов и программ для всех членов семьи и особенно для детей Возможность покупки и аренды лыжного снаряжения</p>
    </div>
  </div>
</section>