<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer" id="footer">
	<div class="footer-head">
		<h2>Контакты</h2>
	</div>
	<div class="form-wrap">
		<form class="consultation-form3" >
			<div class="left-column">	
				<label for="name3">
					ХОТИТЕ УЗНАТЬ БОЛЬШЕ О 
					ШАХДАГ ИЛИ ПОСЕТИТЬ ЕГО?
				</label>

				<label for="tel3">
					ЗВОНИТЕ 8-800-555-38-10 	
					<span>*Звонок по России бесплатный</span>
				</label>

				<label for="email3">
					ИЛИ
					оставьте свои данные
					и мы перезвоним вам
				</label>

			</div>
			<div class="right-column">
				<input type="text" name="name" placeholder="Ваше имя" id="name3" required="required">

				<input type="tel" class="tel-mask" name="tel" placeholder="Телефон" id="tel3" required="required">

				<input type="email" name="email" placeholder="E-mail"  id="email3" required="required">

				<button>ЗАКАЗАТЬ консультацию</button>
			</div>
		</form>
	</div>
	<div class="bottom-copyright">
		<p>© SHEEP.FISH STUDIO 2016</p>
	</div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/aos.js" ></script>

<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyALVvK0B6g8ozZXV5BI80QjKXofL0ngg4Q&sensor=false&extension=.js'></script> 



<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/script.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
