<section class="form_and_gallery2" id="form_and_gallery2">
	<div class="main-wrap">
		<div class="heading">
			<h2 data-aos="zoom-in-up">туфандаг</h2>
		</div>
		<div class="info-content">
			<p data-aos="fade-up" data-aos-delay="100">Зимне-летний туристический комплекс «Туфандаг» находится в 4 км от города Габала, примерно в 215 км от Баку. Курорт «Туфандаг» включает в себя 10 лыжных трасс, 5 канатных дорог, пушки с искусственным снегом. На территории рекреационного комплекса находится несколько удобно расположенных отелей категории от 3 до 5 звёзд. В данный момент в Габале функционируют отели у подножья Кавказских гор: Tufandag, QafqaZ Resort, QafqaZ Sport Hotel, QafqaZ Riverside Resort и др.</p>

			<p data-aos="fade-up" data-aos-delay="100">К услугам гостей комплекса в любое время года предоставляются канатные прогулки, кафе и рестораны, развлекательные центры для детей. Также на территории комплекса гостей ждут уютные ресторан и кафе North Peak Restaurant и South Peak Cafe, бар, зоны отдыхи, а также место для приготовления еды и её хранения.

			Курорт находится в живописном районе в 4 километрах от города Габала и рассчитан на комфортное размещение 3000 человек.</p>
		</div>
		
		<div class="images-gallery">		

			<a href="images/gallery-images1.jpg" class="gallery-image-container oneHeight" rel="gallery-image" data-aos="slide-left" data-aos-duration="1000">
				<img src="images/tufandag1.jpg">
			</a>
			<a href="images/gallery-images2.jpg" class="gallery-image-container oneHeight" rel="gallery-image" data-aos="flip-right" data-aos-duration="1000">
				<img src="images/tufandag2.jpg">
			</a>
			<a href="images/gallery-images3.jpg" class="gallery-image-container oneHeight" rel="gallery-image" data-aos="slide-right" data-aos-duration="1000">
				<img src="images/tufandag3.jpg">
			</a>
			<a href="images/gallery-images4.jpg" class="gallery-image-container oneHeight" rel="gallery-image" data-aos="slide-left" data-aos-duration="1000">
				<img src="images/tufandag4.jpg">
			</a>
			<a href="images/gallery-images5.jpg" class="gallery-image-container oneHeight" rel="gallery-image" data-aos="flip-right" data-aos-duration="1000">
				<img src="images/tufandag5.jpg">
			</a>

			<a href="images/gallery-images6.jpg" class="gallery-image-container oneHeight" rel="gallery-image" data-aos="slide-right" data-aos-duration="1000">
				<img src="images/tufandag6.jpg">
			</a>
		</div>

		<div class="form-wrap">
			<form class="consultation-form1" >
				<div class="left-column">	
					<label for="name1">
						ХОТИТЕ УЗНАТЬ БОЛЬШЕ О 
						ШАХДАГ ИЛИ ПОСЕТИТЬ ЕГО?
					</label>

					<label for="tel1">
						ЗВОНИТЕ 8-800-555-38-10 	
						<span>*Звонок по России бесплатный</span>
					</label>

					<label for="email1">
						ИЛИ
						оставьте свои данные
						и мы перезвоним вам
					</label>

				</div>
				<div class="right-column">
					<input type="text" name="name" placeholder="Ваше имя" id="name1" required="required">

					<input type="tel" class="tel-mask" name="tel" placeholder="Телефон" id="tel1" required="required">

					<input type="email" name="email" placeholder="E-mail"  id="email1" required="required">

					<button>ЗАКАЗАТЬ консультацию</button>
				</div>
			</form>
		</div>

	</div>
	
</section>