<section class="form_and_gallery" id="form_and_gallery"> 
	<div class="main-wrap">
		<div class="heading">
			<h2 data-aos="zoom-in-up">шахдаг</h2>
		</div>
		<div class="info-content">
			<p data-aos="fade-up" data-aos-delay="100">Шахдаг располагается на северо-востоке Азербайджана вблизи одноименной горы. Это место недаром числится в списке самых прекрасных уголков Кавказа. Здесь можно насладиться чистейшим звенящим горным воздухом, неповторимой по своему величию и разнообразию природой и яркой самобытностью культуры. Здешний климат как нельзя  лучше импонирует горнолыжному спорту. В зимний период температура воздуха часто держится на уровне минус 20-22 градусов. По этим и многим другим причинам именно у подножия горы Шахдаг был создан современный, соответствующий всем европейским требованиям, туристический комплекс.</p>

			<p data-aos="fade-up" data-aos-delay="100">На сегодняшний день в Шахдаге имеется все необходимое для активного отдыха. Здесь располагаются несколько отелей с высоким уровнем обслуживания, работают четыре удобных и безопасных подъемника, действуют прокаты лыжного и сноубордического инвентаря. Так же на территории курорта функционируют пункт медицинской помощи, горнолыжная школа, обширная парковка и ковровая дорожка для самых юных любителей зимнего спортавскоре появятся и гондольные канатные дорожки.

			Шахдаг подойдет любителям лыжного спорта, как с высоким, так и с нулевым уровнем подготовки. Здесь имеются трассы, как для начинающих горнолыжников, так и для настоящих профи. Каждая из трасс готовится при помощи генераторов искусственного снега, что позволяет сделать лыжный сезон более длительным, а трассы более качественными и приятными для катания.</p>
		</div>
		
		<div class="images-gallery">		

			<a href="images/gallery-images1.jpg" class="gallery-image-container oneHeight" rel="gallery-image" data-aos="slide-left" data-aos-duration="1000">
				<img src="images/gallery-images1.jpg">
			</a>
			<a href="images/gallery-images2.jpg" class="gallery-image-container oneHeight" rel="gallery-image" data-aos="flip-right" data-aos-duration="1000">
				<img src="images/gallery-images2.jpg">
			</a>
			<a href="images/gallery-images3.jpg" class="gallery-image-container oneHeight" rel="gallery-image" data-aos="slide-right" data-aos-duration="1000">
				<img src="images/gallery-images3.jpg">
			</a>
			<a href="images/gallery-images4.jpg" class="gallery-image-container oneHeight" rel="gallery-image" data-aos="slide-left" data-aos-duration="1000">
				<img src="images/gallery-images4.jpg">
			</a>
			<a href="images/gallery-images5.jpg" class="gallery-image-container oneHeight" rel="gallery-image" data-aos="flip-right" data-aos-duration="1000">
				<img src="images/gallery-images5.jpg">
			</a>

			<a href="images/gallery-images6.jpg" class="gallery-image-container oneHeight" rel="gallery-image" data-aos="slide-right" data-aos-duration="1000">
				<img src="images/gallery-images6.jpg">
			</a>
		</div>

		<div class="form-wrap">
			<form class="consultation-form" >
				<div class="left-column">	
					<label for="name">
						ХОТИТЕ УЗНАТЬ БОЛЬШЕ О 
						ШАХДАГ ИЛИ ПОСЕТИТЬ ЕГО?
					</label>

					<label for="tel">
						ЗВОНИТЕ 8-800-555-38-10 	
						<span>*Звонок по России бесплатный</span>
					</label>

					<label for="email">
						ИЛИ
						оставьте свои данные
						и мы перезвоним вам
					</label>

				</div>
				<div class="right-column">
					<input type="text" name="name" placeholder="Ваше имя" id="name" required="required">

					<input type="tel" class="tel-mask" name="tel" placeholder="Телефон" id="tel" required="required">

					<input type="email" name="email" placeholder="E-mail"  id="email" required="required">

					<button>ЗАКАЗАТЬ консультацию</button>
				</div>
			</form>
		</div>

	</div>
	
</section>