<!-- HEADER -->
<header class="header">
  <div class="header-wrap mbox">
    <div class="header-left">
      <div class="header-logos">
        <a href="http://touravent.ru/" target="_blank"><img src="images/tour-vent-logo.png" alt="logo"></a>
        <a href="http://www.mct.gov.az/" target="_blank"><img src="images/ministry-logo.png" alt="logo"></a>
        <a href="http://azerbaijan.travel/" target="_blank"><img src="images/azerbaijan-logo.png" alt="logo"></a>
      </div>
    </div>
    <div class="header-right-wrap">
      <div class="header-right">
        <ul class="main-menu header-menu">
          <li>
            <a class="menu-item" href="#">ШАХДАГ</a>
            <ul class="dropdown">
              <li><a href="#shahdag">ШАХДАГ</a></li>
              <li><a href="#slider-shahdag">ОТЕЛИ</a></li>
              <li><a href="#form_and_gallery">РЕГИОН</a></li>
            </ul>
          </li>
          <li>
            <a class="menu-item" href="#">туфандаг</a>
            <ul class="dropdown">
              <li><a href="#tufandag">туфандаг</a></li>
              <li><a href="#slider-tufandag">ОТЕЛИ</a></li>
              <li><a href="#form_and_gallery2">РЕГИОН</a></li>
            </ul>
          </li>
          <li><a class="menu-item" href="#map-section">КАРТА</a></li>
          <li><a class="menu-item" href="#footer">контакты</a></li>
        </ul>
        <a class="phone" href="tel:88005553810">8-800-555-38-10</a>
      </div>
    </div>
  </div>
</header>
<!-- /HEADER -->

