<section class="wrap-hotels" id="slider-tufandag">
    <div class="mbox">
        <h2 class="title" data-aos="zoom-in-up">Отели</h2>
        <div class="hotels-slider">
            <div class="hotels-item">
                <div class="hotel-desc">
                    <h4>Shahdag Hotel & Spa</h4>
                    <div class="stars">
                        <span><img src="images/star.png" alt=""></span>
                        <span><img src="images/star.png" alt=""></span>
                        <span><img src="images/star.png" alt=""></span>
                        <span><img src="images/star.png" alt=""></span>
                        <span><img src="images/star.png" alt=""></span>
                    </div>
                    <p>Shahdag & Spa Hotel is located in the picturesque and calm place in the mountains, 230 km north of Baku. It features a spa area with an indoor swimming pool, a gym, a sauna and a Turkish steam bath. Free Wi-Fi and free parking are provided.</p>
                    <div class="rooms">Number of rooms: <span>173</span></div>
                    <div class="pluses">
                        <span><img src="images/hurt.png" alt=""></span>
                        <span><img src="images/money.png" alt=""></span>
                        <span><img src="images/bag.png" alt=""></span>
                        <span><img src="images/card.png" alt=""></span>
                        <span><img src="images/bus.png" alt=""></span>
                    </div>
                </div>
                <div class="hotel-photo">
                    <span><img src="images/hotel1.png" alt=""></span>
                </div>
            </div>
            <div class="hotels-item">
                <div class="hotel-desc">
                    <h4>Shahdag Hotel & Spa 2</h4>
                    <div class="stars">
                        <span><img src="images/star.png" alt=""></span>
                        <span><img src="images/star.png" alt=""></span>
                        <span><img src="images/star.png" alt=""></span>
                        <span><img src="images/star.png" alt=""></span>
                        <span><img src="images/star.png" alt=""></span>
                    </div>
                    <p>222 Shahdag & Spa Hotel is located in the picturesque and calm place in the mountains, 230 km north of Baku. It features a spa area with an indoor swimming pool, a gym, a sauna and a Turkish steam bath. Free Wi-Fi and free parking are provided. 222</p>
                    <div class="rooms">Number of rooms: <span>173</span></div>
                    <div class="pluses">
                        <span><img src="images/hurt.png" alt=""></span>
                        <span><img src="images/money.png" alt=""></span>
                        <span><img src="images/bag.png" alt=""></span>
                        <span><img src="images/card.png" alt=""></span>
                        <span><img src="images/bus.png" alt=""></span>
                    </div>
                </div>
                <div class="hotel-photo">
                    <span><img src="images/book-tour-left.jpg" alt=""></span>
                </div>
            </div>
            <div class="hotels-item">
                <div class="hotel-desc">
                    <h4>Shahdag Hotel & Spa 3</h4>
                    <div class="stars">
                        <span><img src="images/star.png" alt=""></span>
                        <span><img src="images/star.png" alt=""></span>
                        <span><img src="images/star.png" alt=""></span>
                        <span><img src="images/star.png" alt=""></span>
                        <span><img src="images/star.png" alt=""></span>
                    </div>
                    <p>333 Shahdag & Spa Hotel is located in the picturesque and calm place in the mountains, 230 km north of Baku. It features a spa area with an indoor swimming pool, a gym, a sauna and a Turkish steam bath. Free Wi-Fi and free parking are provided. 333</p>
                    <div class="rooms">Number of rooms: <span>173</span></div>
                    <div class="pluses">
                        <span><img src="images/hurt.png" alt=""></span>
                        <span><img src="images/money.png" alt=""></span>
                        <span><img src="images/bag.png" alt=""></span>
                        <span><img src="images/card.png" alt=""></span>
                        <span><img src="images/bus.png" alt=""></span>
                    </div>
                </div>
                <div class="hotel-photo">
                    <span><img src="images/book-tour-right.jpg" alt=""></span>
                </div>
            </div>
            <div class="hotels-item">
                <div class="hotel-desc">
                    <h4>Shahdag Hotel & Spa 4</h4>
                    <div class="stars">
                        <span><img src="images/star.png" alt=""></span>
                        <span><img src="images/star.png" alt=""></span>
                        <span><img src="images/star.png" alt=""></span>
                        <span><img src="images/star.png" alt=""></span>
                        <span><img src="images/star.png" alt=""></span>
                    </div>
                    <p>444 Shahdag & Spa Hotel is located in the picturesque and calm place in the mountains, 230 km north of Baku. It features a spa area with an indoor swimming pool, a gym, a sauna and a Turkish steam bath. Free Wi-Fi and free parking are provided. 444</p>
                    <div class="rooms">Number of rooms: <span>173</span></div>
                    <div class="pluses">
                        <span><img src="images/hurt.png" alt=""></span>
                        <span><img src="images/money.png" alt=""></span>
                        <span><img src="images/bag.png" alt=""></span>
                        <span><img src="images/card.png" alt=""></span>
                        <span><img src="images/bus.png" alt=""></span>
                    </div>
                </div>
                <div class="hotel-photo">
                    <span><img src="images/hotel1.png" alt=""></span>
                </div>
            </div>
          	<div class="prev-slide"></div>
          	<div class="next-slide"></div>
        </div>
    </div>
    <div class="circles" data-aos="zoom-out-down" data-aos-delay="30"><span></span></div>
    <div class="mountains" data-aos="slide-up" data-aos-duration="1700" data-aos-delay="70"><img src="images/mountains.png" alt=""></div>
</section>